@model Application.Models.AccountModels.DepositViewModel

@{
    ViewData["Title"] = "MakeDeposit";
}

<h1>Make Deposit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="MakeDeposit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Deposit" class="btn btn-primary" />
            </div>
            @if (Model.StatusMessage != null)
            {
                <div class="form-group">
                    <strong class="text-danger">@Model.StatusMessage</strong>
                </div>
            }
        </form>
    </div>
</div>

